@model IEnumerable<BlogApp.Admin.ViewModels.FeatureViewModel>

@Html.GetPageHeader("Features!")

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Features <a href="/Features/AddFeature"><span class="glyphicon glyphicon-plus"></span></a> </div>

    <div class="panel-body">
        <p>This page contains list of features that we are going to incorporate in this portal soon.</p>

        @(@Html.GetSimpleGrid<BlogApp.Admin.ViewModels.FeatureViewModel>(Model))
    </div>
</div>



